<div class="navbar bg-light d-flex">
  <h2>My tasks</h2>
  <%= link_to 'New Task', new_path %>
</div>
<div class="container">
<% @tasks.each do |task| %>
<div class="d-flex align-items-center">
  <% if task.completed == true %>
    <input type="checkbox" checked><br>
  <% else %>
    <input type="checkbox"><br>
  <% end %>
  <%= link_to task_path(task) do %>
    <h2><%= task.title %></h2>
  <% end %>
</div>
<% end %>
</div>
